boto3
cloudpickle==3.1.1
contractions==0.1.73
fastapi==0.119.0
httptools==0.7.1
joblib==1.5.2
keras==3.11.3
numpy==2.3.3
pydantic==2.12.0
pydantic-settings==2.11.0
pytest==8.4.2
scikit-learn==1.7.2
scipy==1.16.2
spacy==3.8.7
tensorflow==2.20.0
torch==2.8.0
transformers==4.57.0
